{{ 'contact_us.css' | asset_url | stylesheet_tag }}

<section class="sec4">
  <div class="container">
    <div class="title_main">
      <span class="text1">Contact Us</span>
      <span class="text2">Contact Us</span>
    </div>
    <style>
      .sec4 {
        background-image: url('{{'background_contact_us.svg' | asset_url}}');
      }
    </style>
    <div class="content">
      <div class="left">
        <img src="{{'contact_us_left-block.jpg' | asset_url}}" alt="">
      </div>
      <div class="right">
        <div class="items">
          <div class="block">
            <div class="item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none">
                <path d="M37.3785 14.2279C37.2209 13.7236 36.9052 13.2835 36.478 12.9725C36.0509 12.6616 35.535 12.4964 35.0067 12.5013H25.4754L22.3864 3.0107C22.2306 2.50175 21.9158 2.05612 21.4882 1.73923C21.0605 1.42234 20.5426 1.25088 20.0103 1.25C19.4781 1.24913 18.9596 1.41889 18.5309 1.73438C18.1022 2.04986 17.786 2.49445 17.6285 3.00289L14.5473 12.5013H5.00667C4.47688 12.4999 3.96034 12.6668 3.53157 12.978C3.10281 13.2892 2.78398 13.7286 2.62109 14.2327C2.45821 14.7368 2.45968 15.2797 2.62531 15.7829C2.79094 16.2861 3.11215 16.7237 3.54261 17.0326L11.2707 22.5919L8.31136 31.7201C8.14285 32.2221 8.14078 32.7651 8.30545 33.2684C8.47012 33.7717 8.79275 34.2085 9.22542 34.5138C9.64946 34.8288 10.1636 34.9988 10.6918 34.9988C11.22 34.9988 11.7342 34.8288 12.1582 34.5138L20.0067 28.8685L27.8551 34.5138C28.2821 34.8238 28.7963 34.9907 29.324 34.9907C29.8517 34.9906 30.3658 34.8236 30.7928 34.5135C31.2197 34.2034 31.5376 33.7662 31.701 33.2644C31.8643 32.7626 31.8646 32.2221 31.702 31.7201L28.7332 22.5857L36.466 17.0216C36.8986 16.7163 37.2211 16.2794 37.3855 15.7761C37.5499 15.2727 37.5475 14.7297 37.3785 14.2279ZM20.0067 3.77476L22.8379 12.5013H17.1754L20.0067 3.77476ZM5.00667 15.0013H13.7364L12.0848 20.0888L5.00667 15.0013ZM10.6848 32.5013L13.402 24.1279L17.8614 27.3373L10.6848 32.5013ZM14.2114 21.631L16.3645 15.0013H23.6489L25.7973 21.6232L20.0067 25.7826L14.2114 21.631ZM29.3192 32.5013L22.1473 27.3451L26.6067 24.1357L29.3192 32.5013ZM27.9239 20.0982L26.277 15.0013H35.0067L27.9239 20.0982Z" fill="#1F4692" />
              </svg>
              <span>Host             
                an Event</span>
            </div>
          </div>
          <div class="block">
            <div class="item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none">
                <path d="M36.0393 7.71534C35.575 7.25093 35.0237 6.88253 34.417 6.63118C33.8103 6.37984 33.16 6.25047 32.5033 6.25047C31.8466 6.25047 31.1964 6.37984 30.5896 6.63118C29.9829 6.88253 29.4317 7.25093 28.9674 7.71534C28.6527 8.02986 28.3815 8.3851 28.1611 8.77159L23.7518 7.56847C23.7654 6.57372 23.482 5.59752 22.9377 4.76473C22.3935 3.93195 21.6132 3.28045 20.6967 2.89357C19.7801 2.50669 18.769 2.40202 17.7927 2.59294C16.8163 2.78387 15.9191 3.26171 15.2158 3.96534C14.4649 4.71805 13.9729 5.69016 13.8112 6.741C13.6494 7.79185 13.8261 8.86693 14.3158 9.81065L9.01271 14.5841C8.05055 13.9482 6.89838 13.6638 5.75082 13.7791C4.60327 13.8944 3.53069 14.4023 2.71427 15.2169C1.80141 16.1228 1.27274 17.3457 1.23814 18.6313C1.20354 19.917 1.66566 21.1665 2.52847 22.1202C3.39127 23.074 4.5884 23.6586 5.87106 23.7525C7.15373 23.8465 8.42326 23.4425 9.41583 22.6247L20.3533 30.6497C20.0033 31.5262 19.9085 32.4839 20.0799 33.4121C20.2513 34.3402 20.6819 35.2009 21.322 35.8946C21.962 36.5883 22.7853 37.0866 23.6967 37.332C24.608 37.5775 25.5703 37.5599 26.4721 37.2814C27.3739 37.0029 28.1785 36.4749 28.7928 35.7583C29.4071 35.0418 29.806 34.166 29.9435 33.2322C30.0809 32.2984 29.9513 31.3448 29.5695 30.4816C29.1877 29.6184 28.5695 28.8809 27.7861 28.3544L32.0658 16.231C32.2096 16.2435 32.3533 16.2497 32.4971 16.2497C33.4858 16.2496 34.4522 15.9563 35.2743 15.407C36.0964 14.8577 36.7371 14.077 37.1156 13.1635C37.494 12.2501 37.5931 11.245 37.4005 10.2753C37.2078 9.30554 36.7319 8.41469 36.033 7.71534H36.0393ZM16.9768 5.73253C17.3265 5.38318 17.772 5.14535 18.2569 5.04911C18.7417 4.95287 19.2443 5.00255 19.7009 5.19185C20.1576 5.38115 20.5478 5.70158 20.8224 6.11264C21.097 6.5237 21.2436 7.00694 21.2436 7.50128C21.2436 7.99561 21.097 8.47885 20.8224 8.88992C20.5478 9.30098 20.1576 9.62141 19.7009 9.81071C19.2443 10 18.7417 10.0497 18.2569 9.95345C17.772 9.85721 17.3265 9.61938 16.9768 9.27003C16.7447 9.03744 16.5608 8.76139 16.4356 8.45767C16.3103 8.15395 16.2461 7.82852 16.2467 7.49998C16.2473 7.17144 16.3126 6.84624 16.4389 6.54297C16.5653 6.2397 16.7502 5.9643 16.983 5.73253H16.9768ZM4.47677 20.5216C4.24433 20.2894 4.05993 20.0137 3.93412 19.7102C3.80831 19.4067 3.74356 19.0814 3.74356 18.7528C3.74356 18.4243 3.80831 18.099 3.93412 17.7955C4.05993 17.492 4.24433 17.2163 4.47677 16.9841C4.82651 16.6347 5.27198 16.3969 5.75685 16.3007C6.24173 16.2044 6.74425 16.2541 7.20091 16.4434C7.65756 16.6327 8.04784 16.9531 8.32242 17.3642C8.597 17.7753 8.74356 18.2585 8.74356 18.7528C8.74356 19.2472 8.597 19.7304 8.32242 20.1415C8.04784 20.5525 7.65756 20.873 7.20091 21.0623C6.74425 21.2516 6.24173 21.3012 5.75685 21.205C5.27198 21.1088 4.82651 20.8709 4.47677 20.5216ZM26.7658 34.2716C26.2969 34.7405 25.661 35.0039 24.9979 35.0039C24.3347 35.0039 23.6988 34.7405 23.2299 34.2716C22.761 33.8027 22.4976 33.1667 22.4976 32.5036C22.4976 31.8405 22.761 31.2045 23.2299 30.7357C23.4621 30.5035 23.7377 30.3193 24.041 30.1937C24.3444 30.068 24.6695 30.0033 24.9979 30.0033C25.3262 30.0033 25.6513 30.068 25.9547 30.1937C26.258 30.3193 26.5337 30.5035 26.7658 30.7357C26.998 30.9678 27.1822 31.2435 27.3078 31.5468C27.4335 31.8502 27.4981 32.1753 27.4981 32.5036C27.4981 32.832 27.4335 33.1571 27.3078 33.4604C27.1822 33.7638 26.998 34.0394 26.7658 34.2716ZM25.4299 27.5247C24.1337 27.4118 22.8445 27.8087 21.8361 28.631L10.8986 20.606C11.1637 19.9373 11.2822 19.2196 11.2461 18.5012C11.2099 17.7828 11.0201 17.0806 10.6893 16.4419L15.994 11.6685C16.5646 12.0467 17.2069 12.3037 17.881 12.4236C18.5551 12.5434 19.2466 12.5235 19.9127 12.3652C20.5788 12.2068 21.2053 11.9134 21.7533 11.503C22.3013 11.0926 22.7592 10.574 23.0986 9.9794L27.5018 11.1841C27.4898 12.0153 27.6853 12.8363 28.0706 13.5729C28.4558 14.3095 29.0186 14.9385 29.708 15.4028L25.4299 27.5247ZM34.2674 13.0185C34.0388 13.2655 33.7627 13.4638 33.4556 13.6016C33.1486 13.7393 32.8168 13.8137 32.4803 13.8201C32.1438 13.8266 31.8095 13.765 31.4974 13.6391C31.1852 13.5133 30.9017 13.3257 30.6638 13.0876C30.426 12.8495 30.2386 12.5658 30.113 12.2536C29.9874 11.9413 29.9261 11.6069 29.9329 11.2704C29.9396 10.934 30.0143 10.6023 30.1523 10.2953C30.2903 9.98837 30.4889 9.71245 30.7361 9.48409C31.205 9.0152 31.841 8.75177 32.5041 8.75177C33.1672 8.75178 33.8032 9.0152 34.2721 9.48409C34.741 9.95299 35.0044 10.5889 35.0044 11.2521C35.0044 11.9152 34.741 12.5511 34.2721 13.02L34.2674 13.0185Z" fill="#1F4692" />
              </svg>
              <span>General Inquiry</span>
            </div>
          </div>
          <div class="block">
            <div class="item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none">
                <path d="M30 7.5H10C9.33696 7.5 8.70107 7.76339 8.23223 8.23223C7.76339 8.70107 7.5 9.33696 7.5 10V30C7.5 30.663 7.76339 31.2989 8.23223 31.7678C8.70107 32.2366 9.33696 32.5 10 32.5H30C30.663 32.5 31.2989 32.2366 31.7678 31.7678C32.2366 31.2989 32.5 30.663 32.5 30V10C32.5 9.33696 32.2366 8.70107 31.7678 8.23223C31.2989 7.76339 30.663 7.5 30 7.5ZM30 30H10V10H30V30ZM37.5 8.75V31.25C37.5 31.5815 37.3683 31.8995 37.1339 32.1339C36.8995 32.3683 36.5815 32.5 36.25 32.5C35.9185 32.5 35.6005 32.3683 35.3661 32.1339C35.1317 31.8995 35 31.5815 35 31.25V8.75C35 8.41848 35.1317 8.10054 35.3661 7.86612C35.6005 7.6317 35.9185 7.5 36.25 7.5C36.5815 7.5 36.8995 7.6317 37.1339 7.86612C37.3683 8.10054 37.5 8.41848 37.5 8.75ZM5 8.75V31.25C5 31.5815 4.8683 31.8995 4.63388 32.1339C4.39946 32.3683 4.08152 32.5 3.75 32.5C3.41848 32.5 3.10054 32.3683 2.86612 32.1339C2.6317 31.8995 2.5 31.5815 2.5 31.25V8.75C2.5 8.41848 2.6317 8.10054 2.86612 7.86612C3.10054 7.6317 3.41848 7.5 3.75 7.5C4.08152 7.5 4.39946 7.6317 4.63388 7.86612C4.8683 8.10054 5 8.41848 5 8.75Z" fill="#1F4692" />
              </svg>
              <span>Media Inquiry</span>
            </div>
          </div>
          <div class="block">
            <div class="item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="254"
                height="254"
                viewBox="0 0 254 254"
                fill="none">
                <path
                  d="M135.81 59.0308L136.326 62.1348L137.696 59.302L161.064 10.9894L154.602 64.266L154.223 67.3898L156.336 65.0578L192.368 25.2856L171.158 74.5835L169.914 77.474L172.599 75.8317L218.376 47.822L184.137 89.1475L182.129 91.5706L185.167 90.751L236.982 76.7729L192.487 106.778L189.878 108.537L193.024 108.607L246.677 109.793L195.531 126.047L192.532 127L195.531 127.953L246.677 144.207L193.024 145.393L189.878 145.463L192.487 147.222L236.982 177.227L185.167 163.249L182.129 162.429L184.137 164.852L218.376 206.178L172.599 178.168L169.914 176.526L171.158 179.416L192.368 228.714L156.336 188.942L154.223 186.61L154.602 189.734L161.064 243.011L137.696 194.698L136.326 191.865L135.81 194.969L127 247.908L118.19 194.969L117.674 191.865L116.304 194.698L92.9362 243.011L99.398 189.734L99.7769 186.61L97.6642 188.942L61.6321 228.714L82.8419 179.416L84.0855 176.526L81.4014 178.168L35.6237 206.178L69.8632 164.852L71.8708 162.429L68.8327 163.249L17.0181 177.227L61.5134 147.222L64.1223 145.463L60.9764 145.393L7.3225 144.207L58.4689 127.953L61.4678 127L58.4689 126.047L7.3225 109.793L60.9764 108.607L64.1223 108.537L61.5134 106.778L17.0181 76.7729L68.8327 90.751L71.8708 91.5706L69.8632 89.1475L35.6237 47.822L81.4014 75.8317L84.0855 77.474L82.8419 74.5835L61.6321 25.2856L97.6642 65.0578L99.7769 67.3898L99.398 64.266L92.9362 10.9895L116.304 59.302L117.674 62.1348L118.19 59.0308L127 6.09183L135.81 59.0308Z"
                  stroke="#D55F4A"
                  stroke-width="2" />
              </svg>
              <span>FAQs</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>