{{ 'faq_styles.css' | asset_url | stylesheet_tag }}

<section class="sec2">
  <div class="container">
    <div class="title_main">
      <span class="text1">Frequently Asked Questions</span>
      <span class="text2">Frequently Asked Questions</span>
    </div>
  </div>
</section>
<section class="sec3">
  <div class="container">
    <div class="block_weare">
      <span>We’re here</span>
      <p>201 Camp Road Charlotte NC 28206</p>
    </div>
    <div class="block">
      <div class="content">
        <div class="hours_block">
          <div class="title">Hours</div>
          <div class="items">
            <div class="item">
              <div class="day">
                Sun
              </div>
              <div class="time">
                7:00 am - 10:00 pm
              </div>
              <div class="subtime">
                /hour all day
              </div>
            </div>
            <div class="item">
              <div class="day">
                Mon
              </div>
              <div class="time">
                7:00 am - 10:00 pm
              </div>
              <div class="subtime">
                /hour all day
              </div>
            </div>
            <div class="item">
              <div class="day">
                Tue
              </div>
              <div class="time">
                7:00 am - 10:00 pm
              </div>
              <div class="subtime">
                /hour all day
              </div>
            </div>
            <div class="item">
              <div class="day">
                Wed
              </div>
              <div class="time">
                7:00 am - 10:00 pm
              </div>
              <div class="subtime">
                /hour all day
              </div>
            </div>
            <div class="item">
              <div class="day">
                Thu
              </div>
              <div class="time">
                7:00 am - 10:00 pm
              </div>
              <div class="subtime">
                /hour all day
              </div>
            </div>
            <div class="item">
              <div class="day">
                Fri
              </div>
              <div class="time">
                7:00 am - 10:00 pm
              </div>
              <div class="subtime">
                /hour all day
              </div>
            </div>
            <div class="item">
              <div class="day">
                Sat
              </div>
              <div class="time">
                7:00 am - 10:00 pm
              </div>
              <div class="subtime">
                /hour all day
              </div>
            </div>
          </div>
        </div>
        <div class="hours_block">
          <div class="title">Hours</div>
          <div class="items">
            <div class="item">
              <div class="day">
                Sun
              </div>
              <div class="time">
                7:00 am - 10:00 pm
              </div>
              <div class="subtime">
                /hour all day
              </div>
            </div>
            <div class="item">
              <div class="day">
                Mon
              </div>
              <div class="time">
                7:00 am - 10:00 pm
              </div>
              <div class="subtime">
                /hour all day
              </div>
            </div>
            <div class="item">
              <div class="day">
                Tue
              </div>
              <div class="time">
                7:00 am - 10:00 pm
              </div>
              <div class="subtime">
                /hour all day
              </div>
            </div>
            <div class="item">
              <div class="day">
                Wed
              </div>
              <div class="time">
                7:00 am - 10:00 pm
              </div>
              <div class="subtime">
                /hour all day
              </div>
            </div>
            <div class="item">
              <div class="day">
                Thu
              </div>
              <div class="time">
                7:00 am - 10:00 pm
              </div>
              <div class="subtime">
                /hour all day
              </div>
            </div>
            <div class="item">
              <div class="day">
                Fri
              </div>
              <div class="time">
                7:00 am - 10:00 pm
              </div>
              <div class="subtime">
                /hour all day
              </div>
            </div>
            <div class="item">
              <div class="day">
                Sat
              </div>
              <div class="time">
                7:00 am - 10:00 pm
              </div>
              <div class="subtime">
                /hour all day
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>