.drawer {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  background-color: rgba(var(--color-foreground), 0.5);
  transition: visibility var(--duration-default) ease;
}

@media screen and (max-width: 1280px) {
  .drawer {
    padding: 0 5rem;
  }
}


@media screen and (max-width: 991px) {
  .drawer {
    padding: 0 1.6rem;
  }
}

.drawer.active {
  visibility: visible;
}

.drawer__inner {
  height: 100%;
  width: 100%;
  max-width: var(--page-width);
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
  border-radius: 4rem;
  background: transparent;
}

.drawer__inner-empty {
  height: 100%;
  padding: 0 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

cart-drawer.is-empty .drawer__inner {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0;
}

cart-drawer.is-empty .drawer__header {
  display: none;
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
  transform: translateX(0);
}

.drawer__header {
  position: relative;
  padding: 3.9rem 0 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer__header .header__heading-link svg {
  width: 216px;
  height: 70px;
}

@media screen and (max-width: 767px) {
  .drawer__header {
    padding: 3.9rem 0 1.6rem;
  }

  .drawer__header .header__heading-link svg {
    width: 142px;
    height: 42px;
  }
}

.drawer__heading {
  margin: 3.9rem 0 4.1rem;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 1.3rem;
  border-bottom: 1px solid #DDDFE6;
}

@media screen and (max-width: 767px) {
  .drawer__heading {
    margin: 18px 0 26px;
  }
}

.drawer__close {
  display: inline-block;
  padding: 0;
  min-width: 4.4rem;
  min-height: 4.4rem;
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);
  position: absolute;
  top: 31px;
  right: 31px;
  color: rgb(var(--color-foreground));
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .drawer__close {
    top: 8px;
    right: 6px;
  }
}

.cart-drawer__warnings .drawer__close {
  right: 5px;
}

.drawer__close svg {
  height: 1.6rem;
  width: 1.6rem;
}

.drawer__close svg path {
  fill: #FFFCFA;
}

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.drawer__footer {
  padding: 0.8rem 4rem 4.3rem;
  background: #FFFCFA;
  border-radius: 0 0 4rem 4rem;
}


@media screen and (max-width: 767px) {
  .drawer__footer {
    padding: 0 1.7rem 0.6rem;
    border-radius: 0 0 2.6rem 2.6rem;
  }

}

cart-drawer-items.is-empty + .drawer__footer {
  display: none;
}

.drawer__footer > details {
  margin-top: -1.5rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.drawer__footer > details[open] {
  padding-bottom: 1.5rem;
}

.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 0;
}

.drawer__footer > details + .cart-drawer__footer {
  padding-top: 1.5rem;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer__overlay:empty {
  display: block;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cart-drawer__collection {
  margin: 0 2.5rem 1.5rem;
}

.cart-drawer {
  max-width: var(--page-width);
  width: 100%;
  border-radius: 4rem;
  background: #D55F4A;
}

@media screen and (max-width: 650px) {

  .cart-drawer {
    border-radius: 2.6rem 2.6rem 4rem 4rem;
  }
}


.cart-drawer .cart__ctas .button {
  margin: 0 0 10px;
  min-height: 4.1rem;
  padding: 1rem;
  max-width: 100%;
  min-width: 100%;

  margin: 0 10px;
  min-height: 4.1rem;
  max-height: 4.1rem;
  padding: 1rem;
  max-width: 272px;
  min-width: 272px;
}

.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer .cart-items,
.cart-drawer tbody {
  display: block;
  width: 100%;
}

.cart-drawer thead {
  display: inline-table;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}

cart-drawer-items {
  overflow: auto;
  flex: 1;

  background: #FFFCFA;
  border-radius: 4rem 4rem 0 0;
  padding: 0 4rem;
}

@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }

  .drawer__inner {
    overflow: scroll;
  }
}

@media screen and (max-width: 650px) {
  cart-drawer-items {
    border-radius: 2.6rem 2.6rem 0 0;
    padding: 0 17px;
  }

  .cart-drawer .cart__ctas .button {
    max-width: 100%;
    margin: 0 0 12px;
  }
}

.cart-drawer .cart-item {
  /*display: grid;
  grid-template: repeat(1, auto) / repeat(4, 1fr);
  gap: 1.5rem;
  margin-bottom: 0;*/

  display: flex;
  border-bottom: 1px solid #D4D4D4;
  margin-bottom: 25px;
  padding-bottom: 0px;
  margin-top: -7px;
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1rem;
}

.cart-drawer .cart-item__media {
  min-width: 63px;
  min-height: 94px;
  max-height: 94px;
  width: auto;
  padding: 4px;
  border: 1px solid #D55F4A;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
}


@media screen and (max-width: 767px) {
  cart-drawer-items {
    border-radius: 2.6rem 2.6rem 0 0;
    padding: 0 17px;
  }
}

.cart-drawer .cart-item__image {
  max-width: 131px;
  max-height: 99px;
  border-radius: 0.8rem;
  width: auto;
  aspect-ratio: 132/ 86;
}

@media screen and (max-width: 650px) {
  .cart-drawer .cart-item__media {
    min-width: 54px;
    min-height: 48px;
    max-height: 48px;
    margin-right: -4px;
  }


  .cart-drawer .cart-item__image {
    max-width: 46px;
    max-height: 40px;
    border-radius: 0.8rem;
    width: auto;
    aspect-ratio: 46 / 40;
  }
}


.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
  width: 0;
  padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
  width: 50%;
  padding-left: 0;
}

.cart-drawer .cart-items thead tr {
  display: table-row;
  margin-bottom: 0;
}

.cart-drawer .cart-items th {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1.5rem;
}

.cart-drawer .cart-item .loading__spinner {
  right: 5px;
  padding-top: 2.5rem;
}


.cart-drawer .cart-item__details {
  /*width: auto;
  grid-column: 2 / 4;*/
  display: flex;
  padding: 0;
  flex-grow: 1;

}


.cart-drawer .item__details-wrap {
  max-width: 240px;
  margin-right: 134px;

  width: 100%;
}


@media screen and (max-width: 991px) {

  .cart-drawer .item__details-wrap {
    max-width: 130px;
    margin-right: 0;

    width: 100%;
  }

}

@media screen and (max-width: 767px) {
  .cart-drawer .cart-item__details {
    flex-direction: column;
  }

  .cart-drawer .item__details-wrap .product_info-bot {
    display: none;
  }

  .cart-drawer .cart-item__details .product_info-bot {
    font-size: 10px;
  }

  .cart-drawer .cart-item__details .product_info-bot p {
    font-size: 12px;
  }

}



.cart-item__details-size {
  display: flex;
  align-items: flex-start;
}

.cart-item__details-size .product_info-bot {
  display: none;
}

.cart-item__details-size dl {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .cart-item__details-size {
    flex-direction: column;
  }

  .cart-item__details-size .product_info-bot {
    display: block;
  }
}

.cart-drawer .cart-item__totals {
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
  margin-top: 0;
}

.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

.cart-drawer .cart-items .cart-item__quantity {
  padding: 0;
}

@media screen and (max-width: 749px) {
  .cart-drawer .cart-item cart-remove-button {
    margin-left: 0;
  }
}

.cart-drawer__footer > * + * {
  margin-top: 1rem;
}

.cart-drawer .totals {
  justify-content: space-between;
  padding-bottom: 6px;
  border-bottom: 1px solid #F0F0F0;
  margin-bottom: 21px;
}

@media screen and (max-width: 749px) {
  .cart-drawer .totals {
    margin-bottom: 11px;
  }
}

.cart-drawer .price {
  line-height: 1;
}

.cart-drawer .tax-note {
  margin: 1.2rem 0 1rem auto;
  text-align: left;
  font-size: 16px;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

/*
.cart-drawer .cart__checkout-button {
  max-width: none;
}
*/

.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}

.drawer__footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul > li {
  flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}

@media screen and (min-width: 750px) {
  .drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }

  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2) ~ li,
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4) ~ li {
    flex-basis: calc(50% - 0.5rem) !important;
  }
}

cart-drawer-items::-webkit-scrollbar {
  width: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}

cart-drawer-items::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}

.cart-drawer .quantity-popover-container {
  padding: 0;
  margin-bottom: 23px;
}

.cart-drawer .quantity-popover__info.global-settings-popup {
  transform: translateY(0);
  right: 0;
}

.cart-drawer .cart-item__error {
  margin-top: 0.8rem;
  position: absolute;
}

.cart-drawer .quantity-popover__info + .cart-item__error {
  margin-top: 0.2rem;
}

@media screen and (min-width: 750px) {
  .cart-drawer .cart-item__quantity--info quantity-popover > * {
    padding-left: 0;
  }

  .cart-drawer .cart-item__error {
    margin-left: 0;
  }
}


.totals-wrap, .taxes-wrap {
  display: flex;
  justify-content: space-between;
  line-height: 1;
  border-bottom: 1px solid #F0F0F0;
  padding-bottom: 3px;
  margin-bottom: 25px;
}


.taxes-wrap p {
  margin: 0;
}

.totals-wrap .totals__total-value {
  font-size: 24px;
  color: #1F4692;
  margin: 0;
}


@media screen and (max-width: 749px) {
  .totals-wrap, .taxes-wrap {
    padding-bottom: 8px;
    margin-bottom: 8px;
  }

  .totals-wrap .totals__total-value {
    font-size: 18px;
  }

}