body.product-page {
    padding-top: 11rem;
}
body.product-page .shopify-payment-button__button {
    display: none;
}

body.product-page #MainContent {
    background: #fff6ee;
}

body.product-page .product__media-list {
    border: 2px solid #D55F4A;
    padding: 0;
    border-radius: 2rem;
    background: #FFFCFA;
}

body.product-page .product__media-item {
    border-radius: 16px;
    overflow: hidden;
}
body.product-page .product__info-container {
    z-index: 3;
    position: relative;
}

body.product-page .thumbnail {
    border-radius: 14px;
}

body.product-page .thumbnail[aria-current] {
    box-shadow: none;
    border: 2px solid #D55F4A;
}

body.product-page .slider-button {
    width: 3.8rem;
    height: 3.8rem;

    color: #1F4692;
    background: #FFFCFA;

    border-radius: 50%;
    border: 1px solid #DDDFE6;

}

body.product-page .slider-button:hover {
    border-color: #1F4692;
}

body.product-page .slider-button[disabled] .icon {
    color: #CACDD8;
}

body.product-page .slider-button[disabled]:hover {
    border-color: #CACDD8;
    cursor: not-allowed;
}

body.product-page  .thumbnail[aria-current]:focus:not(:focus-visible) {
    box-shadow: none;
}

body.product-page .product--medium:not(.product--no-media) .product__info-wrapper {
    position: relative;
    padding: 2.7rem 3.3rem 2.4rem 2.6rem;
}

body.product-page .product--medium:not(.product--no-media) .product__info-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 1.2rem;
    bottom: 0;
    border: 3px solid #1F4692;
    border-radius: 2.6rem;
    background: #FFFCFA;
    z-index: 2;
}

body.product-page .product--medium:not(.product--no-media) .product__info-wrapper:after {
    content: '';
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 0rem;
    bottom: -1rem;
    border-radius: 2.6rem;
    background: #1F4692;
    z-index: 1;
}


body.product-page .product__title h1 {
    font-size: 1.6rem;
    font-family: 'Birdie', sans-serif;
    color: #1C1C1C;
    font-weight: 400;
}

body.product-page .price--large {
    font-size: 2.4rem;
}

body.product-page .form__label {
    font-size: 1.6rem;
    margin-bottom: 2.2rem;
    letter-spacing: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    width: 100%;
    padding-bottom: 6px;
    border-bottom: 1px solid #DDDFE6;
}

body.product-page fieldset.product-form__input .form__label {
    margin-bottom: 0.7rem;
}

body.product-page .product-form__input .button.button--primary {
    background: transparent;
    border: 1px solid #1F4692;
    min-height: auto;
    min-width: auto;
    width: 100%;
    padding: 8px;
    box-shadow: none;
    transition: background .15s;
    max-width: 8.8rem;
    font-size: 1.4rem;
}

body.product-page .product-form__input .button.button--primary:hover {
    background: #DDDFE6;
    color: #1F4692;
}

body.product-page .product-form__input input[type=radio]+label {
    border: 1px solid;
    background-color: #FFF6EE;
    color: #1F4692;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 3.3rem;
    height: 3.1rem;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    line-height: 1;
    text-align: center;
    transition: border var(--duration-short) ease;
    cursor: pointer;
    position: relative;
    box-shadow: 3px 3px #1f4692;
    margin: 0.7rem 1.2rem 0.2rem 0;
}

body.product-page .product-form__input input.disabled + label {
    width: auto;
    text-decoration: none;
    color: #CACDD8;
    box-shadow: 3px 3px #CACDD8;
    background: #F0F0F0;
    pointer-events: none;
    padding: 0.5rem 1.5rem;
}

body.product-page .product-form__input input[type=radio]:checked+label {
    background-color: #FFF6EE;
    color: #D55F4A;
    border-color: #D55F4A;
    box-shadow: 3px 3px #D55F4A;
}

body.product-page .product-form__buttons {
    flex-direction: column-reverse;
    display: flex;
    margin-bottom: 2.7rem;
}

body.product-page .product__description ul {
    margin: 0;
    padding: 0;
}

body.product-page .product__description ul li {
    position: relative;
    list-style: none;
    padding-left: 14px;
    line-height: 1;
}

body.product-page .product__description ul li:not(:last-child) {
    margin-bottom: 8px;
}

body.product-page .product__description ul li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 9px;
    height: 9px;
    background: url("./list-marker.svg") no-repeat;
    background-size: cover;
    transform: translateY(-50%);
}

body.product-page .product__description ul + p {
    margin: 21px 0 0;
}

body.product-page .product__description p + p {
    margin: 0;
}

body.product-page .product-form .button.button--secondary, body.product-page .product-form .button.button--primary {
    min-height: 4.1rem;
    padding: 1rem;
}


body.product-page .shopify-payment-button__more-options {
    display: none;
}

body.product-page .product__description p>span img {
    margin-bottom: 0;
    margin-right: 6px;
    vertical-align: middle;
}

body.product-page .collection .slider-buttons {
    justify-content: flex-end;
    margin-top: -64px;
}

body.product-page .slider-button.slider-button--prev {
    margin-right: 0.4rem;
}

body.product-page .slider-button.slider-button--next {
    margin-left: 0.4rem;
}

body.product-page .collection .slider--tablet.product-grid {
    margin-top: 18px;
    gap: 10px;
}

body.product-page .card-wrapper {
    height: auto;
}

body.product-page .collection__title .title, body.product-page .related-products .related-products__heading {
    font-size: 2.4rem;
    color: #F4BE18;
    text-transform: capitalize;
}

.featured-product-section {
    background: url("feature-sec-bg-m.png") no-repeat;
    background-position: left top;
    background-color: #1F4692;
    padding-top: 59px;
    margin-top: 78px;
    background-size: 100% auto;
    padding-bottom: 64px;
}


.related-products-section {
    background: url("ymal-bg-m.png") no-repeat;
    background-position: left bottom;
    background-color: #1F4692;
    padding-top: 6px;
    padding-bottom: 63px;
    background-size: 101% auto;
}


body.product-page .product__media-wrapper {
    position: relative;

}


body.product-page .product__media-wrapper:before {
    content: '';
    position: absolute;
    top: -2.2rem;
    left: -1.2rem;
    width: 7.5rem;
    height: 7.5rem;
    background-image: url("./product-label-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


@media screen and (max-width: 749px) {
    body.product-page .product__media-wrapper slider-component:not(.thumbnail-slider--no-slide) {
        margin-left: 0;
        margin-right: 0;
    }
    body.product-page .grid--peek.slider .grid__item:first-of-type {
        margin-left: 0;
        margin-right: 0;
    }
    body.product-page .product__media-list .product__media-item {
        width: 96%;
        max-width: 100%;
        padding: 7px;
        margin-left: 0;
        margin-right: 0;
    }
    body.product-page .product-media-container {
        border: none;
    }
    body.product-page .product-media-container .product__media img {
        border-radius: 16px;
    }

    body.product-page .product-media-container.constrain-height .media {
        padding-top: 194px;
    }

    body.product-page .thumbnail-list__item:before {
        padding-bottom: 87%;
    }

    body.product-page .thumbnail-slider.slider-mobile-gutter {
        margin-bottom: 33px;
    }

    body.product-page .thumbnail-slider .thumbnail-list.slider {
        margin-bottom: 0;
    }

    body.product-page .product__media-wrapper {
        margin: 0;
    }


    body.product-page .product-form__input {
        margin-top: -1rem;
    }

    body.product-page .product__text {
        line-height: 1.5;
        margin-top: 19px;
        line-height: 1.5;
        padding-right: 0px;
        letter-spacing: -0.4px;
    }

    body.product-page .product-form .button.button--secondary {
        margin-top: 9px;
    }

    body.product-page .shopify-cleanslate>div {
        min-height: 39px !important;
        max-height: 39px !important;
    }

    body.product-page .product__description-wrap .form__label {
        margin-bottom: 11px;
    }

    body.product-page .product__description {
        margin-top: 17px;
    }

    body.product-page .product__description ul {
        padding: 0 0 6px;
        border-bottom: 1px solid #DDDFE6;
    }

    body.product-page .product__description ul li span {
        line-height: 1;
    }

    body.product-page .collection .grid--peek.slider .grid__item:first-of-type {
        margin-left: 0;
        margin-right: 0;
    }

    body.product-page .slider--tablet.grid--peek.grid--1-col-tablet-down .grid__item {
        width: 88%;
    }

    body.product-page .related-products .related-products__heading span {
        max-width: 150px;
    }
}


@media screen and (min-width: 750px) {
    body.product-page {
        padding-top: 14.3rem;
    }

    body.product-page .product__media-list {
        border: 3px solid #D55F4A;
        padding: 14px;
        border-radius: 3.2rem;
        margin-bottom: 13px;
    }

    body.product-page .product__info-container {
        max-width: 100%;
        padding: 4.2rem 4rem 1rem;
        top: initial;
    }

    body.product-page .product--medium:not(.product--no-media) .product__info-wrapper:before {
        border: 3px solid #1F4692;
        border-radius: 4rem;
        left: 2rem;
        right: 0;
    }

    body.product-page .product--medium:not(.product--no-media) .product__info-wrapper:after {
        content: '';
        position: absolute;
        top: 1.2rem;
        left: 2rem;
        right: -1.2rem;
        bottom: -1.2rem;
        border-radius: 4.6rem;
    }

    body.product-page .product__media-item {
        border-radius: 2rem;
    }

    body.product-page .thumbnail {
        border-radius: 2rem;
    }

    body.product-page .thumbnail-slider .thumbnail-list.slider--tablet-up {
        gap: 20px;
    }

    body.product-page .slider-button {
        width: 6.4rem;
        height: 6.4rem;
        margin-left: 10px;
    }

    body.product-page .slider-button.slider-button--prev {
        margin-right: 2rem;
    }

    body.product-page .slider-button.slider-button--next {
        margin-left: 2rem;
    }

    body.product-page .slider-button .icon {
        height: 1.2rem;
    }

    body.product-page .product__title {
        margin-bottom: 1.7rem;
    }

    body.product-page .product__title h1 {
        font-size: 2.4rem;
    }

    body.product-page .price--large {
        font-size: 3.2rem;
        margin-bottom: 1.6rem;
    }

    body.product-page .form__label {
        font-size: 2.4rem;
        margin-bottom: 2.2rem;
    }

    body.product-page .product-form__input {
        margin: 0 0 4.2rem;
    }

    body.product-page .product__text {
        line-height: 1.5;
        padding-right: 50px;
    }

    body.product-page .product-form__input .button.button--primary {
        max-width: 11.5rem;
        font-size: 1.6rem;
        padding: 10px;
    }

    body.product-page .product__info-container .product-form {
        margin: 26px 0 25px;
    }

    body.product-page .product-form .button.button--secondary {
        min-height: 4.1rem;
        padding: 1rem;
        margin-top: 11px;
    }

    body.product-page .product__description-wrap .form__label {
        margin-bottom: 1rem;
        padding-bottom: 1.3rem;
    }

    body.product-page fieldset.product-form__input .form__label {
        margin-bottom: 1.9rem;
    }

    body.product-page .product-form__input input[type=radio]+label {
        width: 3.1rem;
        height: 3.1rem;
        margin: 0.7rem 1.3rem 0.2rem 0;
        letter-spacing: 0;
    }

    body.product-page .product-form__input input.disabled + label {
        width: auto;
        padding: 0.5rem 1.2rem;
    }

    body.product-page .product-form__buttons {
        margin-bottom: 4.3rem;
    }

    body.product-page .product__description {
        margin-top: 3rem;
    }

    body.product-page .product__description ul li {
        padding-left: 2rem;
    }

    body.product-page .product__description ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    body.product-page .product__description ul {
        margin: 0;
        padding: 0;
        padding-bottom: 15px;
        border-bottom: 1px solid #DDDFE6;
    }

    body.product-page .collection .slider-component-desktop.page-width {
        max-width: var(--page-width);
    }

    body.product-page .slider--desktop .slider__slide:first-child {
        margin-left: 0;
    }

    body.product-page .collection .slider--tablet.product-grid {
        gap: 18px;
        margin-top: 35px;
    }

    body.product-page .slider--desktop .slider__slide {
        width: 23.9%;
    }

    body.product-page .collection .slider-buttons {
        margin-top: -92px;
    }

    body.product-page .collection .slider--desktop:after {
        padding-left: 0;
    }

    body.product-page .collection__title .title, body.product-page .related-products .related-products__heading {
        font-size: 4.8rem;
    }

    .featured-product-section {
        background: url("./feature-section-bg-d.png") no-repeat;
        padding-top: 133px;
        margin-top: 78px;
        background-color: #1F4692;
        background-size: 100% auto;
        padding-bottom: 0;
    }

    .related-products-section {
        background: url("ymal-bg-d.png") no-repeat;
        padding-bottom: 146px;
        padding-top: 69px;
        background-color: #1F4692;
        background-position: left bottom;
        background-size: 100% auto;
    }

    body.product-page .product__media-wrapper:before {
        width: 13.9rem;
        height: 13.9rem;
        top: -3.1rem;
        left: -7.6rem;
    }
}



@media screen and (min-width: 1024px) {
    body.product-page .product--medium:not(.product--no-media) .product__media-wrapper {
        max-width: 738px;
    }

    body.product-page .product--medium:not(.product--no-media) .product__info-wrapper {
        max-width: 530px;
        width: calc(100% - 738px);
        padding: 0 0 0 2rem;
        margin-right: 12px;
        margin-bottom: 14px;
    }
}